@import "./global.scss";
@import "./button.scss";

#root {
  min-height: 100vh;
}

body {
  box-sizing: boder-box;
  background-color: $white;
  font: 100% $font-stack;
}

.App {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 !important;
}

.cus-text-white {
  color: $white !important;
}

.cus-text-purple {
  color: $purple;
}

nav,
footer {
  @include theme-colors($purple-theme: true);
}

a {
  cursor: pointer;
}

//common

.list-group-item {
  background-color: $light-gray;
  color: $purple !important;
}

//nav

.auth-item {
  margin: 0.15em 0;
}

.fa-sign-in-alt {
  padding-right: 0.5em;
}

.fa-user-plus {
  padding-right: 0.3em;
}

.sign-out-button {
  border: solid 1px $white;
}

.sign-out-button:hover {
  background-color: rgba(96, 63, 134, 0.5);
}

//modals
.modal-dialog {
  margin-top: 3em;
}

.modal-content {
  background-color: rgba(72, 38, 99, 0.9);
  color: rgba(255, 255, 252, 1);
  margin-top: 3.5rem;

  span {
    color: rgba(255, 255, 252, 1);
  }

  .modal-header {
    position: relative;
    border: none;
  }

  .modal-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  h5 {
    margin: auto;
    text-align: center;
  }
}

.profile-modal {
  max-width: 95vw;
}

.user-list-modal {
  background-color: rgba(245, 245, 245, 1);
}

//landing
.landing {
  min-height: 84vh;
}

.landing-content {
  margin: 2.8rem 0 3.3rem 0;
}

//phone
.phone-container {
  position: relative;
  width: 278px;
  height: 500px;
  margin: auto;
  border: 12px #eaebed solid;
  border-top-width: 54px;
  border-bottom-width: 54px;
  border-radius: 32px;
}

.phone-container:before {
  content: "";
  display: block;
  width: 54px;
  height: 5px;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $purple;
  border-radius: 10px;
}

.phone-container:after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  bottom: -58px;
  transform: translate(-50%, -50%);
  background: $white;
  border-radius: 50%;
}

//hub

.unseen-count {
  position: absolute;
  margin-left: 0.2em;
}

//room
.message-container {
  padding-bottom: 3.75rem;
}

.message-list {
  background-color: unset;
  border: unset;
}

.own-messages {
  background-color: $light-gray;
  border-radius: 7px;
  height: 100%;
  float: right;
}

.other-messages {
  background-image: linear-gradient(to bottom right, $purple, $dark-purple);
  color: $white;
  border-radius: 7px;
  height: 100%;
  display: inline-block;
}

.user-selected {
  background-color: rgba(48, 94, 161, 0.9);
  color: $white !important;
}

.reset-password {
  display: block;
  margin: auto;
}

.chatlist {
  li {
    margin-bottom: 0.25em;
  }
}

//newchat
.new-chat-header {
  margin-top: 1em;
  display: grid;
  grid-template-columns: auto auto auto;
}

@import "./mediaQueries.scss";
