@import "./global.scss";

body {
  box-sizing: boder-box;
  background-color: $white;
}

.App {
  min-height: 100vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 !important;
}

nav,
footer {
  @include theme-colors($purple-theme: true);
}

.cus-text-white {
  color: $white !important;
}

//nav

.fa-sign-in-alt {
  padding-right: 0.5em;
}
.fa-user-plus {
  padding-right: 0.3em;
}
.sign-out-button {
  border: solid 1px $white;
}
.sign-out-button:hover {
  background-color: (96, 63, 134, 0.5) !important;
}
