//button
button {
  cursor: pointer;
}

.cus-fb-button {
  color: $white;
  display: block;
  padding: 0.5rem 0.2em;
  border-radius: 5px;
  width: 100%;
  border: 1px solid rgb(108, 117, 125);
  margin-top: 1rem;
}

.cus-button-blue,
.cus-fb-button {
  background-color: $blue;
}

.cus-button-blue:hover,
.cus-fb-button:hover {
  background-color: rgba(59, 101, 216, 1);
}

.cus-button-blue:active,
.cus-fb-button:hover {
  background-color: rgba(59, 101, 216, 1) !important;
}

.icon-button {
  color: $purple;
  cursor: pointer;
}

.icon-button:hover {
  color: $dark-purple;
}

.icon-button:active {
  -webkit-transform: translate(0.2em, 0.2em);
  -ms-transform: translate(0.2em, 0.2em);
  transform: translate(0.2em, 0.2em);
}

.fixed-button {
  position: fixed;
  margin-top: 1.2em;
  z-index: 1;
}

.fa-chevron-circle-left {
  position: fixed;
  z-index: 1;
  margin-top: 0.3em;
  margin-left: 0.8em;
}

.cus-purple-button {
  background-color: $purple;
  color: $white;
  border: 1px solid $dark-purple;
}

.cus-purple-button:active,
.cus-purple-button:hover {
  background-color: $dark-purple !important;
  color: $white;
}

//tooltip
.tooltip-right {
  position: relative;
  display: inline-block;
}

.tooltip-right-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  top: 58px;
  left: 55px;
  width: 120px;
  background-color: $purple;
  color: $white;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
}

.tooltip-right:hover .tooltip-right-text {
  visibility: visible;
}
