$purple: rgba(96, 63, 134, 1);
$dark-purple: rgba(72, 38, 99, 1);
$blue: rgba(31, 79, 161, 1);
$light-gray: rgba(249, 249, 249, 1);
$white: rgba(255, 255, 252, 1);

@mixin theme-colors($purple-theme: true) {
  @if $purple-theme {
    background-image: linear-gradient(to bottom right, $purple, $dark-purple);
    color: $white;
  }
}