$purple: rgba(96, 63, 134, 1);
$dark-purple: rgba(72, 38, 99, 1);
$blue: rgba(31, 79, 161, 1);
$light-gray: rgba(249, 249, 249, 1);
$white: rgba(255, 255, 252, 1);

$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;

@mixin theme-colors($purple-theme: true) {
  @if $purple-theme {
    background-image: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from($purple),
      to($dark-purple)
    );
    background-image: -o-linear-gradient(top left, $purple, $dark-purple);
    background-image: linear-gradient(to bottom right, $purple, $dark-purple);
    color: $white;
  }
}
