/* manage this on larger size ipad mini plus
.profile-modal {
  max-width: 95vw;
}

//for ipadmini and up 

*/
@media only screen and (min-height: 737px) {
  .landing {
    min-height: 84vh;
  }
  .landing-content {
    margin: 3.5rem 0 7.1rem 0;
  }
}

@media only screen and (min-height: 824px) {
  .landing-content {
    min-height: 68vh;
  }
}

@media only screen and (min-height: 1025px) {
  .landing-content {
    min-height: 76vh;
  }

  //button
  .fa-chevron-circle-left {
    margin-top: 0.3em;
    margin-left: 1.2em;
  }
}

@media only screen and (min-height: 1380px) {
  .landing-content {
    min-height: 80vh;
  }
}

@media only screen and (min-width: 768px) {
  body {
    font: 110% $font-stack;
  }
  //navbar
  .auth-item {
    margin: 0;
    padding: 0 0.25em;
  }
  //room
  .room-header-row {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .room-user-list {
    margin: 0 2.5em;
  }

  .chatlist {
    li {
      margin-bottom: 0.5em;
    }
  }

  //modal
  .modal-dialog {
    padding: 0 1em;
  }
  .modal-body {
    padding: 1rem 2rem;
  }
  //reset page
  .reset-password {
    padding: 2em 4.5em 0 4.5em;
  }
}

/* iPads (portrait) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation: portrait) {
}

/* ipad pro and up  */
@media only screen and (min-width: 1024px) {
  .reset-password {
    padding: 3em 8em 0 8em;
  }

  .room-user-list {
    margin: 0 6em;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  body {
    font: 115% $font-stack;
  }
  //modal
  .modal-dialog {
    padding: 0 1.5em;
  }
  .modal-body {
    padding: 1rem 2.25rem;
  }
  .reset-password {
    padding: 3em 14em 0 14em;
  }
  .room-user-list {
    margin: 0 10em;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  body {
    font: 125% $font-stack;
  }
  .reset-password {
    padding: 3em 23em 0 23em;
  }
}
